
.validation-advice {
	display:inline;		
}

/* default vadation error css  */
.validation-advice {
	font-size: 10pt;
	margin: 0px 0;
	padding: 0px;
	color : red;
	font-weight: bold;
}

.custom-advice1 {
	margin: 5px 0;
	padding: 5px;
	background-color: #DFF3FB;
	color : #FF3300;
	font-weight: bold;
}

.custom-advice2 {
	margin: 5px 0;
	padding: 5px;
	background-color: #C8AA00;
	color : #FFF;
	font-weight: bold;
}

.custom-advice3 {
  border: solid orange 1px;
  margin: 5px 0;
  padding: 5px;
  font-weight: bold;
  color : #000000;
  background-color: #ff009d;
  background-image: url(grad_white.png);
}

